#grid_container{
    background-color: blck;
    border-color: black;
    border-radius: 3px;
    border-style: solid;
    height: 40em;
    width: 40em;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0.3em;
    margin: auto;
    
}
button{
    align-self: center;
    position: relative;
}
.cell{
    background-color: white;
    border-color: black; 
    border-style: solid;
    height: 12.5em;
    width: 12.5em;
    display: inline-grid;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}
.x{
    color: orange;
   
    
}
.o{
    color: blue;
}


h1{
    font-family: serif;
    font-size: 2em;
}
body{
    text-align: center;
    background-color: rgb(207, 199, 199);
}
html{
    background-color: rgb(207, 199, 199);;
}
